/** dark mode */
body {
    background-color: #1c1c1c;
}

.mod_chronometry_list .text-red {
    color: #fa9696;
}
.mod_chronometry_list .text-green {
    color: #84fd84;
}
.mod_chronometry_list #chronometry-app .application {
    visibility: hidden;
}
.mod_chronometry_list #chronometry-app.is-ready .application {
    visibility: visible;
}
.mod_chronometry_list #toggleSidebar {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1040;
}
.mod_chronometry_list #toggleSidebar button {
    border: 0;
    background: none;
    padding: 1rem;
}
.mod_chronometry_list #toggleSidebar button .sidebar-toggle-icon {
    color: #fff;
}
.mod_chronometry_list #sidebarContainer {
    background-color: var(--bs-dark);
    min-width: 290px;
}
.mod_chronometry_list #sidebarContainer .clock {
    font-size: 60px;
    color: #fff;
}
.mod_chronometry_list #sidebarContainer #toolContainer .accordion-header > button {
    color: #eee !important;
}
.mod_chronometry_list #sidebarContainer #toolContainer .accordion-button:after {
    color: var(--bs-gray-400) !important;
}
.mod_chronometry_list #sidebarContainer #toolContainer ul {
    list-style-type: none;
    padding: 0;
}
.mod_chronometry_list #sidebarContainer #toolContainer ul li {
    color: #eee;
}
.mod_chronometry_list #sidebarContainer #toolContainer .dropdown.suggest {
    position: relative;
    top: 100%;
    left: -1px;
}
.mod_chronometry_list #sidebarContainer #toolContainer .dropdown.suggest ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
.mod_chronometry_list #sidebarContainer #toolContainer .dropdown.suggest ul li {
    border: none;
    line-height: 2rem;
    padding: 0 5px;
    z-index: 99999;
    color: var(--bs-gray-400);
    background-color: var(--bs-dark);
}
.mod_chronometry_list #sidebarContainer #toolContainer .dropdown.suggest ul li a {
    color: var(--bs-gray-400);
}
.mod_chronometry_list #sidebarContainer #toolContainer .dropdown.suggest ul li:hover {
    cursor: pointer;
    background-color: #32373FFF;
}
.mod_chronometry_list #sidebarContainer #toolContainer .dropdown.suggest ul li:hover a {
    color: #fff !important;
}
.mod_chronometry_list .table-container table thead th[data-sort] {
    cursor: pointer;
}
.mod_chronometry_list .table-container table .runner-status-icon {
    display: none;
}
.mod_chronometry_list .table-container table tr[data-runnerhasfinishedrace=true] .runner-status-icon {
    display: inline;
    color: #84fd84;
}
.mod_chronometry_list .table-container table tr[data-runnerdnfrace=true] .runner-status-icon {
    display: inline;
    color: #fa9696;
}
.mod_chronometry_list .table-container table tr td.number .icon-finisher {
    color: #84fd84;
}
.mod_chronometry_list .table-container table tr td.number .icon-dnf {
    color: #fa9696;
}
.mod_chronometry_list .table-container table tr.requesting td.number {
    color: blue;
}
.mod_chronometry_list #chronometryModal.modal .modal-header {
    position: relative;
}
.mod_chronometry_list #chronometryModal.modal .modal-header .close {
    font-size: 4rem;
}
.mod_chronometry_list #chronometryModal.modal .modal-body {
    color: #000;
}
.mod_chronometry_list #chronometryModal.modal .modal-body .modal-endtime input, .mod_chronometry_list #chronometryModal.modal .modal-body .modal-endtime button {
    font-size: 2rem;
}
.mod_chronometry_list #chronometryModal.modal .modal-body .large-icon {
    font-size: 2rem;
}
.mod_chronometry_list #chronometryModal.modal .modal-body #endtimeCtrl {
    background-color: var(--bs-bg-dark);
    border-color: var(--bs-bg-dark);
    color: var(--bs-light);
}
.mod_chronometry_list #chronometryModal.modal .modal-title {
    font-size: 3rem;
    color: black;
}
.mod_chronometry_list #chronometryModal.modal .blinking-runner-has-finished {
    animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
    0% {
        color: #84fd84;
    }
    49% {
        color: #84fd84;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #84fd84;
    }
}
.mod_chronometry_list #chronometryModal.modal .modal-content {
    top: 60px;
}
.mod_chronometry_list #chronometryModal.modal .clockStyle {
    font-size: 2rem;
    color: #fa9696 !important;
    text-align: left;
}
.mod_chronometry_list #chronometryModal.modal.runner-is-finisher #infoRunnerHasFinished {
    display: block !important;
    font-size: 2rem;
}
.mod_chronometry_list #chronometryModal.modal.runner-is-finisher #endtimeCtrl {
    background-color: #ac2925;
    border-color: #ac2925;
    color: #fff;
}
.mod_chronometry_list [role=button] {
    cursor: pointer;
}

.scroll-to-top {
    width: 50px;
    height: auto;
    background: #fa9696;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    border-radius: 0;
    aspect-ratio: 1/1;
    opacity: 1;
    -webkit-transition: background-color ease-in-out 0.4s;
}
.scroll-to-top a, .scroll-to-top .fa {
    color: #fff;
}
