/** dark mode */

$text-red: #ff0000;
$text-green: #84fd84;
$font-size-sidepanel: 1.5rem;

body {
  background-color: #1c1d20;
}

.module-chronometry-list {

  .text-red {
    color: $text-red;
  }

  .text-green {
    color: $text-green;
  }

  #chronometry-app .application {
    visibility: hidden;
  }

  #chronometry-app.is-ready .application {
    visibility: visible;
  }

  #toggleSidepanel {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1040;

    button {
      border: 0;
      background: none;
      padding: 1rem;

      .sidepanel-toggle-icon {
        color: #fff;
      }
    }
  }

  #sidepanelContainer {
    background-color: darkred;
    width: 500px;
    max-width: 100% !important;
    font-size: $font-size-sidepanel;
    @media (max-width: 576px) {
      font-size: calc($font-size-sidepanel * 0.75);
    }


    .btn-close {
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
      color: #fff !important;
    }

    .bg-dark {
      background-color: darkred !important;
    }

    label {
      color: #fff;
    }

    .clock {
      color: #fff;
      font-size: 3.5rem;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    #toolContainer {
      .accordion-item {
        border-color: #fff;
      }

      .accordion-header button {
        color: #fff;
        font-size: $font-size-sidepanel;

        @media (max-width: 576px) {
          font-size: calc($font-size-sidepanel * 0.75);
        }

        &:after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-size: 1.5em;
          width: 1.5em;
          height: 1.5em;
        }
      }

      .form-control-lg {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.75rem;
        @media (max-width: 576px) {
          font-size: calc($font-size-sidepanel * 0.75);
        }
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          color: #eee;
        }
      }

      .speech-btn {
        border-radius: 400px;

        i {
          margin-top: 4px;
          margin-bottom: 4px;
          @media (max-width: 576px) {
            font-size: calc(36px * 0.75) !important;
          }
        }
      }

      .speech-btn.listening i {
        animation: blink 0.8s infinite alternate;
      }

      .dropdown.suggest {
        position: relative;
        top: 100%;
        left: -1px;

        ul {
          padding: 0;
          margin: 0;
          width: 100%;
          background-color: darkred;

          li {
            font-size: 1.25rem;
            border: none;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.5rem;
            padding: 0 5px;
            z-index: 99999;
            color: var(--bs-gray-400);
            background-color: darkred;

            a {
              color: #fff;
            }

            &:hover {
              cursor: pointer;

              a {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }

  .table-container {
    table {
      thead {
        th:not(.no-sort) {
          cursor: pointer;
        }
      }

      th, td {
        background: #131416;
        border-bottom: 1px solid #303236;
      }

      .runner-status-icon {
        display: none;
      }

      tr[data-runnerhasfinishedrace="true"] .runner-status-icon {
        display: inline;
        color: $text-green;
      }

      tr[data-runnerdnfrace="true"] .runner-status-icon {
        display: inline;
        color: $text-red;
      }

      tr td.number .icon-finisher {
        color: $text-green;
      }

      tr td.number .icon-dnf {
        color: $text-red;
      }
    }
  }

  #chronometryModal.modal {
    .modal-header {
      position: relative;

      .btn-close {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;

        @media (max-width: 576px) {
          width: 2rem;
          height: 2rem;
          font-size: 1.5rem;
        }
      }
    }

    .modal-body {
      color: #000;

      .modal-endtime {
        input, button {
          font-size: 2rem;
          @media (max-width: 576px) {
            font-size: 1.5rem;
          }
        }
      }

      .large-icon {
        font-size: 2rem;
      }

      #endtimeCtrl {
        background-color: var(--bs-bg-dark);
        border-color: var(--bs-bg-dark);
        color: var(--bs-light);
      }

      .modal-dnf {
        font-size: 1.5rem;
        @media (max-width: 576px) {
          font-size: 1rem;
        }
      }
    }

    .modal-title {
      font-size: 3rem;
      color: black;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    .blinking-runner-has-finished {
      animation: blinkingText 1.2s infinite;
      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }

    @keyframes blinkingText {
      0% {
        color: $text-green;
      }
      49% {
        color: $text-green;
      }
      60% {
        color: transparent;
      }
      99% {
        color: transparent;
      }
      100% {
        color: $text-green;
      }
    }

    .clockStyle {
      font-size: 2rem;
      color: $text-red !important;
      text-align: left;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

  }

  #chronometryModal.modal.runner-is-finisher {
    #infoRunnerHasFinished {
      display: block !important;
      font-size: 2rem;
    }

    #endtimeCtrl {
      background-color: #ac2925;
      border-color: #ac2925;
      color: #fff;
    }
  }

  [role="button"] {
    cursor: pointer;
  }
}

.scroll-to-top {
  width: 50px;
  height: auto;
  //padding: 10px $spacer;
  //text-align: center;
  background: $text-red;
  color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  border-radius: 0;
  aspect-ratio: 1/1;
  opacity: 1;
  -webkit-transition: background-color ease-in-out 0.4s;

  a, .fa {
    color: #fff;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
